@import url('https://fonts.googleapis.com/css2?family=Micro+5+Charted&family=Pixelify+Sans:wght@400..700&display=swap');

:root {
    --dark: #6f2dbd;
    --med-dark: #a663cc;
    --base: #b298dc;
    --med-light: #b8d0eb; 
    --light: #b9faf8; 
    --turq: #a1d5cc;
    --pink: #f621ad;
    --purple: #8818b7;
    --yellow: #ffd876;
    --green: #418a70;
}
* {
    cursor: url(/images/furby/cursor.png), auto;
    box-sizing: border-box;
    
}

body {
    background-image: url(/images/furby/background.png);
    background-image: contain;
    font-family: "Pixelify Sans", sans-serif;
    
}

.container {
    display: grid;
    justify-content: center;
    grid-template-columns: 1fr 5fr 1fr;
    grid-template-rows: auto 1fr auto;
    grid-template-areas:
        "header header header"
        "sidebar-main content sidebar-secondary"
        "footer footer footer";
    padding: 50px;
    margin-right: 5%;
    margin-left: 5%;
    height: 100vh;
}

.header {
    grid-area: header;
    display: grid;
    justify-content: center;
    padding: 30px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    outline-style: solid;
    outline-width: 3px;
    outline-color: var(--yellow);
    background-image: url(/images/furby/furby-gif.gif);
    background-size: contain;
    width: 100%;
}

.header .header_title {
    display: grid;
    justify-content: center;
    width: 100%;
}

/* .sidebar-main {
    grid-area: sidebar-main;
    background-color: #de83e5;
} */

.section {
    margin-bottom: 20px;
    min-height: fit-content;
    max-width: max-content;
}

.window {
    border: 4px ridge var(--dark);
    overflow: hidden;
    box-shadow: 0 1px 1px 1px rgba(248, 150, 200, 0.5);
    background: linear-gradient(180deg,
            var(--med-light) 40%,
            var(--med-dark) 100%);
    
}

.window_tab {
    text-align: left;
    border-top: 2px solid var(--light);
    border-left: 2px solid var(--med-light);
    border-right: 2px solid var(--med-dark);
    border-bottom: 3px solid var(--dark);
    padding: 1px;
    background-color: var(--base);
}

.window_title {
    display: inline-block;
    color: var(--dark);
    margin: 1px 10px 5px 5px;
    font-size: 18px;
    font-weight: bold;

}

.window_button_display {
    display: block;
    float: right;
    margin-right: 5px;
}

.window_buttons {
    border-top: 2px solid var(--light);
    border-left: 2px solid var(--med-light);
    border-right: 2px solid var(--med-dark);
    border-bottom: 3px solid var(--dark);
    color: var(--purple);
    padding: 2px;
    line-height: 8px;
    display: inline-block;
    height: 20px;
    width: 20px;
    text-align: center;
}

.sidebar-main .navbar {
    background: linear-gradient(90deg, var(--light) 0%, var(--purple) 100%);
    /* border-top: 1px solid #fff;
    border-left: 1px solid #fff;
    border-right: 1px solid #fff; */
    border-bottom: 2px solid var(--med-light);
    height: auto;
    overflow: auto;
}

.navbar a {
    display: grid;
    color: var(--dark);
    padding: 8px;
    border-top: 2px dashed white;
    border-left: 2px dashed white;
    border-right: 2px dashed var(--med-dark);
    border-bottom: 3px dashed var(--dark);
    text-decoration: none;
}

.navbar a.active {
    background-color: var(--light);
    color: var(--dark);
}

.navbar a:hover:not(.active) {
    background-color:var(--light);
    color: var(--dark);
}

.music_box {
    display: grid;
}

.music_box .iframe {
    font-size: 10px;
    color: #cccccc;
    line-break: anywhere;
    word-break: normal;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    font-weight: 100;
}

.content {
    grid-area: content;
    display: grid;
    justify-content: center;
    background-color: var(--dark);
    padding: 10px;
}

.article_title {
    display: flex;
    justify-content: center;
    color: var(--dark);
}

.article_paragraph {
    display: grid;
    justify-content: flex-start;
}

.article_image {
    display: flex;
    justify-content: flex-end;
}

.video_container {
    display: flex;
    padding: 10px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.video_toons {
    border: 6px dashed #ffffff;
    background-color: #000000;
    padding-top: 4px;
    box-shadow: 0 25px 20px rgba(46, 3, 29, 0.447);
}

.sidebar-secondary {
    grid-area: sidebar-secondary;
    display: grid;
    justify-content: center;
    background-color: var(--green);
}

.footer {
    grid-area: footer;
    display: flex;
    justify-content: center;
    padding: 20px;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
    color: var(--dark);
    background-color: var(--base);
    font-size: 18px;
}




@media (max-width: 800px) {
    .container {
        grid-template-rows: 50px 50px 1fr 50px 50px;
        grid-template-columns: 1fr;
        grid-template-areas:
            "header"
            "header"
            "sidebar-main"
            "content"
            "content"
            "content"
            "sidebar-secondary"
            "footer";
    }
}
