* {
    cursor: url(/images/hot-wheel/cursor.svg), auto;
    box-sizing: border-box;
}

body {
    background-color: rgba(255, 160, 96, 0.5);
    background-image: url(../images/hot-wheel/bg.jpg);
    background-size: 50%;
    font-family: "Fredoka";
    background-blend-mode: lighten;
    font-family: 'Lucida Console', 'Courier New', monospace;
}

.container {
    display: grid;
    justify-content: center;
    align-items: center;
    grid-template-columns: 1fr;
    grid-template-rows: auto;
    padding: 50px;
    margin-right: 5%;
    margin-left: 5%;
}

header {
    border-width: 4px;
    display: flex;
    justify-content: center;
    padding: 30px;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    background-color: #800020;
    position: relative;
    width: 100%;
    overflow: hidden;
    outline-style: dotted;
    outline-width: 3px;
    outline-color: rgb(0, 0, 0);
    outline-offset: -2px;
}

.road{
    position:absolute;
    bottom: 10px;
    width: 100%;
    height: 5px;
    background-color: #ffde4a;
}

.car {
    position: absolute;
    bottom: 10px;
    left: -200px;
    animation: drive 5s linear infinite;
}

.car img{
    width: 30%;
}

@keyframes drive {
    0% { transform: translateX(-200px); }
    100% { transform: translateX(120vw); }
}

.smoke {
    position: absolute;
    width: 10px;
    height: 10px;
    background-color: rgba(150, 150, 150, 0.8);
    border-radius: 50%;
    bottom: 10px;
    left: 20px;
    opacity: 0;
    animation: smokeEffect 1s ease-out infinite;
}

@keyframes smokeEffect {
    0% {
        transform: scale(0.5) translate(0, 0);
        opacity: 1;
    }
    100% {
        transform: scale(4) translate(-60px, 0px);
        opacity: 0;
        bottom: 100px;
    }
}

main{
    display:grid;
    grid-template-columns: 0.35fr 1fr;
    grid-template-rows: auto;
    justify-content: start;
    align-items: start;
}

.content-container{
    display:grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto;
    justify-content: start;
    align-items: start;
}

.sidebar-main {
    border: 4px ridge #000000;
    background: #c4721a;
    min-height: 100%;
}

.main-content{
    border: 4px ridge #000000;
    background: #c4721a;
    min-height: 100%;
}

.window {
    border: 4px ridge #2F2F2F;
    overflow: hidden;
    box-shadow: 0 1px 1px 1px rgba(248, 189, 150, 0.5);
    background: linear-gradient(180deg,
    #ff9320 40%,
    #c4721a 100%);
    min-height:100%;
}

.window_tab {
    position: relative;
    overflow: hidden;
    width: 100%;
    white-space: nowrap;
    text-align: left;
    border: 2px solid #2F2F2F; 
    border-bottom: 3px solid #2F2F2F ;
    padding: 1px;
    background-color: #ff9320 ;
}

.window_title {
    display: inline-block;
    color: #000000;
    margin: 1px 1px 5px 5px;
    font-size: 18px;
    font-weight: bold;
}

.window_button_display {
    float: right;
    margin-right: 5px;
}

.window_buttons {
    border: 2px solid #000000;
    border-bottom: 4px solid #000000;
    border-right: 4px solid #000000;
    color: #000000;
    padding: 2px;
    line-height: 8px;
    display: inline-block;
    height: 20px;
    width: 20px;
    text-align: center;
}

.navbar {
    background: linear-gradient(90deg, rgb(253, 192, 127) 0%, rgb(251, 205, 162) 100%);
    border: 1px solid #000000;
    border-bottom: 2px solid #000000;
    height: auto;
    overflow: auto;
}

.navbar a {
    display: grid;
    color: #000000;
    padding: 8px;
    border-top: 2px dashed rgb(0, 0, 0);
    border-left: 2px dashed rgb(0, 0, 0);
    border-right: 2px dashed #ff8d5c;
    border-bottom: 3px dashed #ff0000;
    text-decoration: none;
}

a:hover, button:hover{
    cursor: url('/images/hot-wheel/pointer.svg'), auto;
}

a:focus, button:focus{
    background-color: #ffffff;
}

.navbar a:hover {
    background-color: #fff4d2;
}

.navbar a:active {
    background-color: #34f412;
    transform: scale(0.98);
}

.theme{
    display: flex;
    flex-wrap: wrap;
    padding: 20% 5%;
    justify-content: center;
    align-content: center;
    gap: 10px;
}

.theme-dark-btn, .theme-light-btn{
    width: 120px;
    background: rgb(248, 213, 181);
}

.theme-dark-btn{
    background: rgb(73, 61, 48);
    color: white;
}

.theme-light-btn:hover{
    background: rgb(255, 227, 143);
    transform: scale(1.03); 
}

.theme-dark-btn:hover{
    background: rgb(148, 132, 83);
    transform: scale(1.03); 
}

.theme-dark-btn:active, .theme-light-btn:active{
    background-color: #34f412;
    transform: scale(0.98); 
}

.theme-dark-btn:focus{
    color:black;
}

.theme-light-btn:focus{
    background-color:rgb(235, 255, 154);
}

.dark-mode::before {
    content: "";
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.7);
    pointer-events: none; 
    z-index: 999;
}

.dark-mode .theme-dark-btn{
    background-color: black;
    color:rgb(206, 206, 206);
}

.navbar, button, a, p, h3, .window_title, h2{
    position: relative;
    z-index: 1000; 
    mix-blend-mode: transparent; 
}

.dark-mode .navbar, 
.dark-mode button {
    background: rgba(32, 32, 32, 0.4); 
}

.dark-mode button:hover,
.dark-mode .navbar a:hover {
    background: rgba(255, 255, 255, 0.6);
    color:black;
}

.dark-mode p, .dark-mode h3, .dark-mode a, .dark-mode button, .dark-mode .window_title, .dark-mode h2{
    color:rgb(206, 206, 206);
}

.visitor-count{
    display: flex;
    flex-wrap: wrap;
    padding: 10% 5%;
    justify-content: center;
    align-content: center;
    gap: 10px;
}

.visitor-count h3{
    font-size: 20px;
    text-decoration:underline;
    text-align: center;
}

/*16:9 aspect ratio*/
.game-container{
    position: relative;
    width: 100%;
    height: 0;
    padding-top: 56.25%;
    background-image: url(../images/hot-wheel/road.webp), url(../images/hot-wheel/road.webp);
    background-color: #fde289;
    background-repeat: repeat-x;
    background-position: center center, 100% center;
    border: 1px solid #ccc;
    background-size: 100% auto;
}

canvas {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;  
    height: 100%; 
}

#play-button {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: block;
    padding: 10px 20px;
    font-size: 16px;
    background-color: #ff0000;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    z-index: 1000; 
}

#play-button:hover{
    cursor: url('/images/hot-wheel/pointer.svg'), auto;
    background-color: rgb(255, 182, 182);
    color: black;
}

#play-button:focus{
    background-color: rgb(255, 182, 182);
    color: black;
}

.dark-mode #play-button{
    background-color: rgba(255, 97, 97, 0.4); 
}

.dark-mode #play-button:hover, .dark-mode #play-button:focus{
    background-color: rgb(255, 182, 182);
    color: black;
}

#play-button:active, .dark-mode #play-button:active{
    background-color: #34f412;
}

h2{
    font-family: 'Lucida Console', 'Courier New', monospace;
    text-decoration: underline;
}

.content1{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 5%;
}

.content1 img{
    border-radius: 50px;
    margin: 8% 0;
    border: 3px solid #000;
}

.content2{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 5%;
    gap: 20px;
}

.content2 img{
    width: 75%;
    border-radius: 50px;
    border: 3px dashed #000;
}



.skip-link:focus {
    outline: solid rgb(208, 255, 0);
    background: #AA151B;
    color: white;
}

.skip-link:hover{
    background-color: #cd8d90;
}

.skip-link:active{
    background-color: #9bcd8d;
}

footer {
    display: flex;
    font-size: 20px;
    justify-content: center;
    padding: 20px;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
    background-color: #800020;
    color:#ffea8c;
}

@media (max-width: 1100px) { 
    .content-container{
        grid-template-columns:1fr;
    }
    #hide-btns {
        display: none; 
    }
}

/* mobile layout */
@media (max-width: 850px) { 
    #hide-btns {
        display:inline-block;;
    }

    .container {
        padding: 20px;
        margin-right: 2%;
        margin-left: 2%;
    }

    main{
        grid-template-columns: 1fr;
    }
    
    .content-container{
        grid-template-columns:1fr;
    }

    .theme{
        padding: 2%;
        gap: 10%;
    }
    .visitor-count{
        padding: 2%;
        flex-direction: column;
        text-align: center;
    }

}