body{
    background-color:rgb(236, 215, 250);
    background-image: url(../images/index/bg.jpg);
    font-family: "Fredoka";
    background-blend-mode: lighten;
}

.container {
    display: grid;
    justify-content: center;
    align-items: center;
    grid-template-columns: 1fr;
    grid-template-rows: auto auto auto;
    padding: 50px;
    margin-right: 5%;
    margin-left: 5%;
}

header {
    display: flex;
    justify-content: center;
    padding: 30px;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    background-color:#ddd7a3;
    position: relative;
    width: 100%;
}

h1{
    font-size: 80px;
    text-align: center;
    filter: drop-shadow(0px 4px 8px rgba(0, 0, 0, 0.5));
}

main{
    background-color: #a3a9dd;
}

.toybox-container{
    position: relative; 
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 30px 0px;
}

.toybox-wrapper{
    position: relative;
    display:inline-block
}

/*#box-closed, #sparkle{
    display:none
}
for testing purposes, comment below and uncomment this to test toy placement, etc*/

#box-open, #sparkle, .toys {
    display: none;
}

#box-closed {
    cursor: pointer;
    background-color: transparent;
    border: none;
}

#box-closed:hover{
    filter: brightness(70%) sepia(50%);
}

.toys{
    position: absolute;
    width: 80px; 
    cursor: pointer;
    transition: transform 0.2s ease-in-out;
    filter: drop-shadow(0px -4px 8px rgba(255, 255, 255, 0.4)) 
        drop-shadow(0px 8px 8px rgba(0, 0, 0, 1));
}

#toy1 {
    filter: drop-shadow(0px -4px 8px rgba(255, 255, 255, 0.4)); 
}

.toys:hover {
    transform: scale(1.2);
}

#toy1 { top: 33%; left: 38%; } /* trashpack */
#toy2 { top: 34%; left: 49%; } /* furby */
#toy3 { top: 28%; left: 58%; } /* hotwheel */
#toy4 { top: 19%; left: 40%; } /* tamagotchi */
#toy5 { top: 28%; left: 27%; } /* zhuzhu */

#sparkle {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.fade-in {
    animation: fadeIn 1s forwards;
}
.fade-out {
    animation: fadeOut 1s forwards;
}
@keyframes fadeIn {
    from { opacity: 0.4; }
    to { opacity: 1; }
}
@keyframes fadeOut {
    from { opacity: 1; }
    to { opacity: 0; }
}


.content-container{
    display: grid;
    justify-content: center;
    text-align: center;
    background-color: #dda3a9;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto;
    padding: 40px;
    gap:40px;
}

@media (max-width:900px){
    .content-container{
        grid-template-columns:1fr;
    }
}

.content-2, .content-1 {
    display: flex;
    flex-direction: column;
    align-items: center; 
    text-align: center;
    gap: 15px;
}

.content-container h2{
    font-weight: bold;
    font-size: 40px;
}

.content-container p{
    text-align: left;
    font-size: 18px;
}

.content-container a{
    display: inline-block;
    width: 200px;
    padding: 10px 20px;
    background-color:#a3dddd;
    color: black;
    text-decoration: none;
    border-radius: 8px;
    font-family: "Baloo 2";
    text-align: center;
    font-size:20px;
    transition: background-color 0.3s ease, transform 0.2s ease;
}

.content-container a:hover{
    background-color:#78a8a8;
    transform: scale(1.05);
}

.content-container a:active {
    background-color: #787ea8;
    transform: scale(0.98);
}

.content-container a:focus {
    outline: 2px solid white;
    box-shadow: 0 0 5px rgba(255, 255, 255, 0.75);
}

footer {
    display: flex;
    font-size: 18px;
    justify-content: center;
    padding: 20px;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
    background-color: #a9dda3;
}

