@import url('https://fonts.googleapis.com/css2?family=Micro+5+Charted&family=Pixelify+Sans:wght@400..700&display=swap');


* {
    cursor: url(/images/tamagotchi/cursor.png), auto;
    box-sizing: border-box;
}

body {
    background-image: url(/images/tamagotchi/sparkle_bg.gif);
    background-color: #fdf9dd;
    font-family: "Pixelify Sans", sans-serif;
}

.container {
    display: grid;
    justify-content: center;
    grid-template-columns: 1fr 5fr 1fr;
    grid-template-rows: auto 1fr auto;
    grid-template-areas:
        "header header header"
        "sidebar_main content sidebar_secondary"
        "footer footer footer";
    padding: 50px;
    margin-right: 10%;
    margin-left: 10%;
}

.skip-link {
    position: absolute;
    top: -50px;
    justify-self: center;
    background: #de83e5;
    color: white;
    padding: 10px;
    border-radius: 3px;
    text-decoration: none;
    font-weight: bold;
    z-index: 1000;
    transition: transform 1.3s ease-in-out;
}

.skip-link:focus {
    top: 10px;
    outline: solid rgb(180, 0, 135);
}

.skip-link:focus {
    margin-top: 20px;
}

.skip-link:hover {
    background-color: #f6ace3;
}

.skip-link:active {
    background-color: #db5ea3;
}

.header {
    grid-area: header;
    display: flex;
    justify-content: center;
    padding: 50px;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    outline-style: dotted;
    outline-width: 3px;
    outline-color: azure;
    background-image: url(/images/tamagotchi/banner.gif);
    background-size: contain;
    width: 100%;
}

.header .header_title {
    display: grid;
    justify-content: center;
    width: 100%;
}

.sidebar_main {
    grid-area: sidebar_main;
    background-color: #de83e5;
}

.section {
    margin-bottom: 20px;
}

.window {
    border: 4px ridge #e35095;
    overflow: hidden;
    box-shadow: 0 1px 1px 1px rgba(248, 150, 200, 0.5);
    background: linear-gradient(180deg,
            rgb(246, 202, 224) 40%,
            rgba(226, 117, 236, 0.893) 100%);
}

.window_tab {
    text-align: left;
    border-top: 2px solid white;
    border-left: 2px solid white;
    border-right: 2px solid #de83e5;
    border-bottom: 3px solid #de83e5;
    padding: 1px;
    background-color: #f7cbfb;
    overflow: hidden;
}

.window_title {
    display: inline-block;
    color: #e35095;
    margin: 1px 1px 5px 5px;
    font-size: 18px;
    font-weight: bold;
}

.window_button_display {
    float: right;
    margin-right: 5px;
}

.window_buttons {
    cursor: url(/images/tamagotchi/pointer_cursor.png), auto;
    border-top: 2px solid white;
    border-left: 2px solid white;
    border-bottom: 2px solid #c6397b;
    border-right: 2px solid #8c2555;
    color: #e35095;
    padding: 2px;
    line-height: 8px;
    display: inline-block;
    height: 20px;
    width: 20px;
    text-align: center;
}

.window_buttons .active {
    background-color: #de83e5;
    color: white;
}

.window_buttons:hover:not(.active) {
    background-color: #ea33a1;
    color: white;
}

.sidebar_main .navbar {
    background: linear-gradient(90deg, rgba(255, 218, 237, 1) 0%, rgba(255, 247, 251, 1) 100%);
    border-top: 1px solid #fff;
    border-left: 1px solid #fff;
    border-right: 1px solid #fff;
    border-bottom: 2px solid #c6397b;
    height: auto;
    width: 100%;
    overflow: auto;
}

.navbar a {
    display: grid;
    color: rgb(224, 55, 123);
    padding: 8px;
    border-top: 2px dashed white;
    border-left: 2px dashed white;
    border-right: 2px dashed #de83e5;
    border-bottom: 3px dashed #db5ea3;
    text-decoration: none;
}

.navbar a.active {
    background-color: #de83e5;
    color: white;
}

.navbar a:hover:not(.active) {
    background-color: #de83e5;
    color: white;
}

.music_box {
    display: grid;
    height: 240px;
    width: 100%;
}

.music_box .iframe {
    font-size: 10px;
    color: #cccccc;
    line-break: anywhere;
    word-break: normal;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    font-weight: 100;
}

.links img {
    border: 3px dashed #ffffff;
    justify-content: center;
}

.content {
    grid-area: content;
    display: grid;
    width: 100%;
    justify-content: center;
    background-color: #e35095;
}

/*memeory game*/

.memory-game {
    width: 890px;
    height: 560px;
    display: flex;
    flex-wrap: wrap;
    perspective: 1000px;
    padding: 10px;
    justify-content: center;
    cursor: url(/images/tamagotchi/pointer_cursor.png), auto;
}

.memory-card {
    display: grid;
    width: calc(25% - 50px);
    height: calc(35% - 20px);
    margin: 5px;
    position: relative;
    transform: scale(1);
    transform-style: preserve-3d;
    transition: transform .5s;
    box-shadow: 1px 1px 1px rgba(0, 0, 0, .3);
}

.memory-card:active {
    transform: scale(0.97);
    transition: transform .2s;
}

.memory-card.flip {
    transform: rotateY(180deg);
}

.front-face,
.back-face {
    width: 100%;
    height: 100%;
    padding: 20px;
    position: absolute;
    border-radius: 5px;
    background: #fff8c1;
    backface-visibility: hidden;
    cursor: url(/images/tamagotchi/pointer_cursor.png), auto;
}

.front-face {
    transform: rotateY(180deg);
}

/*video*/
.video_container {
    display: flex;
    padding: 10px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.video_toons {
    border: 6px dashed #ffffff;
    background-color: #000000;
    padding-top: 4px;
    box-shadow: 0 25px 20px rgba(46, 3, 29, 0.447);
}

.sidebar_secondary {
    grid-area: sidebar_secondary;
    display: grid;
    justify-content: center;
    background-color: #de83e5;
}


.time_container {
    display: grid;
    justify-content: center;
    font-size: 9px;
    padding: 24px;
    color: #ffffff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.25);
    border-radius: 4px;
    font-weight: 500;
}

.time {
    display: grid;
    justify-content: center;
    text-align: center;
    font-size: 3em;
    color: #e35095;
}

.date {
    display: flex;
    justify-content: center;
    text-align: center;
    font-size: 1.8em;
}

.gif_images {
    display: grid;
    justify-content: space-between;
    padding-top: 60px;
    padding-bottom: 55px;
    width: 100%;
}

.gif_images img {
    display: grid;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.footer {
    grid-area: footer;
    display: flex;
    justify-content: center;
    padding: 20px;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
    color: rgb(252, 230, 89);
    background-color: rgb(129, 202, 236);
    font-size: 1.75em;
}


@media (max-width: 1500px) {
    .container {
        display: grid;
        justify-content: center;
        grid-template-columns: 1fr 5fr 1fr;
        grid-template-rows: auto 1fr auto;
        grid-template-areas:
            "header header header"
            "sidebar_main content sidebar_secondary"
            "footer footer footer";
        padding: 50px;
        margin-right: 10%;
        margin-left: 10%;
    }

    .window_button_display {
        float: right;

    }

    .window_buttons {
        cursor: url(/images/tamagotchi/pointer_cursor.png), auto;
        border-top: 2px solid white;
        border-left: 2px solid white;
        border-bottom: 2px solid #c6397b;
        border-right: 2px solid #8c2555;
        color: #e35095;
        padding: 2px;
        line-height: 8px;
        display: inline-block;
        text-align: center;
    }
}


@media (max-width: 1100px) {
    .container {
        grid-template-rows: auto;
        justify-content: center;
        grid-template-columns: auto;
        grid-template-areas:
            "header"
            "header"
            "sidebar_main"
            "content"
            "content"
            "content"
            "sidebar_secondary"
            "footer";
    }

    .content {
        grid-template-columns: 1fr;

    }

    .sidebar_main {
        grid-template-columns: 1fr;
    }

    .memory-game {
        width: 100%;
        height: 540px;
    }

    .memory-card {
        width: calc(25% - 10px);
        height: calc(40% - 70px);
        position: relative;
        transform: scale(1);
        transform-style: preserve-3d;
        transition: transform .5s;
    }

    .marquee {
        box-shadow: 0 1px 3px rgba(0, 0, 0, .1);
        background-color: #fce6fc;
        overflow: hidden;
        position: relative;
        height: 50px;
        width: 100%;
        /* Full width of its parent */
        white-space: nowrap;
    }

    .marquee img {
        position: absolute;
        width: auto;
        object-fit: contain;
        height: 5vh;
        margin: 0;
        line-height: 50px;
        text-align: center;
        transform: translateX(100%);
        animation: scroll-left 20s linear infinite;
    }

    @keyframes scroll-left {
        0% {
            transform: translateX(100%);
        }

        100% {
            transform: translateX(-100%);
        }
    }

    .gif_images {
        width: 100%;
    }
}

/*---Mobile----*/

@media (max-width: 550px) {
    .container {
        grid-template-columns: auto;
        grid-template-rows: auto;
        grid-template-areas:
            "header"
            "sidebar_main"
            "content"
            "sidebar_secondary"
            "footer";
    }

    .content {
        grid-template-columns: 300px;
    }

    .music_box {
        position: relative;
        overflow: hidden;
        width: 100%;
        padding-top: 56.25%;
    }

    .responsive_iframe_music {
        position: absolute;
        top: 0;
        left: 0;
        bottom: 0;
        right: 0;
        width: 100%;
        height: 100%;
    }

    .memory-game {
        grid-template-columns: 1fr;
        width: 100%;
        height: 440px;
    }

    .video_container {
        position: relative;
        overflow: hidden;
        width: 100%;
        padding-top: 56.25%;
    }

    .responsive_iframe_tv {
        position: absolute;
        top: 0;
        left: 0;
        bottom: 0;
        right: 0;
        width: 100%;
        height: 100%;
    }

    .footer p {
        font-size: 20px;
    }
}
